
#layer {
	
	z-index:1000;
	with:100%;
	margin-top:-1415px;
	margin-left: 23px;
	width: 100%;
	padding:0px;
	float:left;
}


.colorpicker {
    list-style-type:none;
	float:left;
	width: 100%;

}

.colorpicker li {
    float:left;
    list-style-type:none;
    text-align: center;
	border: 0px;
	margin-right:6px;


}

.colorpicker li:hover
{
	 background-image:  url("../img/1-small.gif");

}

.colorpicker li img {
    width: 210px;
	height:191px;
    height: auto;
    cursor: pointer;
	border: 0px;
	padding: 0px;
	
}



#currentImg {
	filter:none;
}



button{
		padding: 0px;
		marging:0px;
		border: 0px;
      -webkit-filter: grayscale(1); 
      -webkit-transition:  all .8s ease-in-out;  
    }

button:hover {
		padding: 0px;
		marging:0px;
		border: 0px;
    	filter: none;
      -webkit-filter: grayscale(0);
     
    }




button:active {
	    filter: none;
	    padding: 0px;
		marging:0px;
		border: 0px;
      -webkit-filter: grayscale(0);
     
}
button:focus {
	    filter: none;
	    padding: 0px;
		marging:0px;
		border: 0px;
      -webkit-filter: grayscale(0);
     
}
button:target {
	    filter: none;
	    padding: 0px;
		marging:0px;
		border: 0px;
      -webkit-filter: grayscale(0);
    
}



